@import url('https://fonts.googleapis.com/css?family=Bungee|Work+Sans');

body {
    margin: 0 auto;
    max-width: 980px;
    background: linear-gradient(white, transparent),
    linear-gradient(to top left, white, transparent),
    linear-gradient(to top right, grey, transparent);
    background-blend-mode: screen;
}

:root {
    font-family: 'Unna', serif;
}
.container {
     margin-right: auto;
    margin-left: auto;
}

header img {
    max-height: 70px;
}

nav ul.menu {
    padding-left: 20px;
    font-family: 'Unna', serif;
}

nav ul.menu li {
    list-style: none;
}

nav ul.menu li a {
    text-decoration: none;
    color: black;
}

nav ul.menu li a:hover {
    text-decoration: underline;
}

header nav ul.menu li {
    margin: 0 4%
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container img {
    width: 100%;
}

@media (min-width: 670px) {
    header nav {
        display: flex;
    }
}

@media (min-width: 660px) {
    header nav ul.menu {
        display: flex;
        align-items: center;
        flex: 1;
    }
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid red;
    width: 80%;
    margin: 20px auto;
}

@media ( min-width: 660px) {
    h1 {
        font-size: 3rem;
    }
}

.top-section-container,
.mid-section-container {
    background: rgba(200, 201, 199, 0.5);
    width: 100%;
    font-family: 'Unna', serif;
}

.top-section-container p {
    margin-left: 20px;
}

.top-section-container img {
    max-height: 380px;
}

.top-section-container {
    display: flex;
    justify-content: flex-start;
}


@media (min-width: 300px) and (max-width: 850px) {
    .top-section-container img {
        display: none;
    }
}

.mid-section-container p {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.mid-section-container img {
    max-height: 260px;
}

.mid-section-container {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 850px) {
    .mid-section-container img {
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 850px) {
    .top-section-container,
    .mid-section-container {
        display: none;
    }
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;

}

.top img {
    width: 100%;
}

@media (min-width: 350px) and (max-width: 849px) {
    .top img {}
}

@media (min-width: 350px) and (max-width: 849px) {
    .mid p {
        text-align: justify;
        font-family: 'Unna', serif;
    }
}

@media (min-width: 849px) {
    .top img {
        display: none;
    }
}

@media (min-width: 849px) {
    .mid {
        display: none;
    }
}

.bottom-section-container table {

    font-family: 'Unna', serif;
    font-size: 27px;
    text-align: center;
}

td {
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: white;
}

td {
    background: rgba(200, 201, 199, 0.1);
}

@media (min-width: 350px) and (max-width: 849px) {
    .bottom-section-container {
        display: none;
    }
}



nav ul.list li {
    list-style: none;
}

nav ul.list li a {
    text-decoration: none;
    color: black;
    font-family: 'Unna', serif;
}

nav ul.list li a:hover {
    text-decoration: underline;
}

#solutions,
#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 300px) and (max-width: 850px) {
    img #solution {
        display: none;
    }
}

#contacts h4 {
    text-align: center;
}

#contacts {
    border-bottom: 4px solid black;
    width: 100%;

}

.contact-info {
    width: 270px;
    font-family: 'Unna', serif;
    margin-top: 25px;
}

.contact-info .item {
    margin: 0 0 40px 0;
    padding: 0 0 0 42px;
    line-height: 20px;
    position: relative;
    color: #3E3E3E;
    line-height: 20px;
}

.contact-info .item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 26px;
    border-bottom: 3px solid #F8F8F8;
    background: #D10039;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #E4E6E5 0px 1px 0px;
    -moz-box-shadow: #E4E6E5 0px 1px 0px;
    box-shadow: #E4E6E5 0px 1px 0px;
    z-index: 1;
}

.contact-info .item:before {
    content: '';
    position: absolute;
    background: url(../images/ico.png) no-repeat;
    z-index: 2;
}

.contact-info .item.phone:before {
    background-position: -72px -25px;
    width: 16px;
    height: 17px;
    left: 10px;
    top: 6px;
}

.contact-info .item.mail:before {
    background-position: -58px -33px;
    width: 14px;
    height: 13px;
    left: 9px;
    top: 8px;
}

.contact-info .item span {
    display: block;
    font-size: 16px;
}

.contact-info .item span b {
    font-weight: normal;
    font-size: 18px;
    font-family: 'Unna', serif;
}

.contact-info .item span a {
    text-decoration: none;
    color: #3E3E3E;
}

.contact-info .item span a:hover {
    text-decoration: underline;
}

.login-page {
    width: 360px;
    padding: 1% 0 0;
    margin: auto;
    font-family: 'Unna', serif;

}

.form {
    margin-top: 10px;
    position: relative;
    z-index: 1;
    background: crimson;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 0 0;
    padding: 22px;
    box-sizing: border-box;
    font-size: 14px;
}

input#comment {
    margin-bottom: 10px;
}

form.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: red;
    width: 50%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    cursor: pointer;
}

.button:hover,
.form button:active,
.form button:focus {
    background: grey;
}

.footer img {
    max-height: 50px;

}

.footer {
    text-align: right;

}

#carouselOffers img {
    max-height: 550px;}